body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
  color: #333;
}

.w3-container {
  max-width: 600px;
  margin: auto;
}

input[type="text"], input[type="password"], input[type="email"] {
  margin-bottom: 16px;
}

button {
  width: 100%;
}